* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: url(./assets/bg-mobile.jpg) top center/cover;
    height: 100vh;
}

#calculadora-app {
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 0px 0px 34px 34px;
    margin: 64px 28px 0;
    /* min-height: 60vh; */
    background-color: rgb(255, 255, 255);
}

.input {
    width: 64px;
    height: 1.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    margin-top: 16px;
}

.botao {
    display: block;
    margin: 24px auto 24px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0 12px;
}

.txt-button {
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    /* padding: 14px 28px; */
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.janela {
    padding-bottom: 24px;
}

.texto {
    font-size: 24px;
    font-family: 'Kalam', cursive;
    line-height: 1;
    padding: 8px;
}

.input-error {
    display: none;
    background-color: red;
    margin: 4px 40px;
}

.input-error p {
    color: white;
}

header {
    padding: 8px;
    position: absolute;
    display: flex;
    top: -28px;
    width: 101%;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
    font-size: 1.2em;
    color: white;
    padding: 0 8px;
}

header img {
    margin-left: auto;
}


#display {
    display: flex;
    flex-direction: column;
}

#back {
    display: none;
    background: none;
    border: none;
    margin-right: auto;
    font-size: 44px;
    color: rgb(124, 124, 124);
    padding: 32px 8px 0;
}

/* Início */
#inicio {
    /* display: none; */
    display: block;
    padding-top: 56px;
}

#inicio p {
    text-align: center;
    font-size: 2em;
}

#inicio button {
    width: 80%;
}

/* Calcular Média Regular */
#media-regular {
    display: none;
    text-align: center;
}

#media-regular div {
    margin-bottom: 56px;
}

#media-regular input {
    display: block;
    margin: 0 auto;
}

#media-regular > div > button {
    margin-top: 0;
    margin-bottom: 8px;
}

#media-regular > button:focus-visible {
    border: 3px solid gray;
}

#inserir-individualmente {
    display: block;
    padding: 0px 30px;
    text-decoration: underline;
    line-height: 0.8;
}

#exibir-notas-individuais input {
    display: inline;
    margin: 4px;
}

#exibir-notas-individuais {
    display: none;
}

#exibir-notas-individuais * {
    outline: 3px solid gainsboro;
    animation: slide-down 2s forwards;
}

#exibir-notas-individuais > div {
    margin: 0 auto;
}

#exibir-notas-individuais input {
    text-align: center;
}

/* Calcular Média Regular */
#media-exame {
    display: none;
    text-align: center;
}

#media-exame div {
    margin-bottom: 56px;
}

#media-exame input {
    display: block;
    margin: 0 auto;
}

/* Resultado */

#resultado {
    display: none;
    text-align: center;
}

#resultado-txt {
    font-family: 'Freehand', cursive;
}

#resultado-desc {
    font-size: 28px;
}

#resultado-nota {
    font-size: 36px;
    margin: 40px 0;
    padding: 20px;
    background-color: gainsboro;
}

footer {
    margin: 10px;
    display: inline;
}

footer p{
    font-family: 'Gamja Flower', cursive;
    font-size: 24px;
    text-align: center;
}

#contador-visitas {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#contador-visitas p {
    font-size: 16px;
    align-self: center;
    padding: 0 4px;
}

#contador-visitas a {
    display: flex;
    padding: 0 4px;
}

#social-links {
    font-size: 24px;
    margin: 12px;
    text-align: center;
}

#social-links a {
    text-align: center;
    border-radius: 50%;
    padding: 16px; 
    color: black;
    text-decoration: none;
  }

/* animation */
@keyframes slide-down {
    from {
        outline: 2px solid gainsboro;
    }
    to {
        outline: initial;
    }
  }