* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#calculadora-app {
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 0px 0px 10px 10px;
    margin: 64px 28px 0;
    /* min-height: 60vh; */
    background-color: rgba(160, 160, 160, 0.24);
}

.input {
    width: 50px;
    height: 1.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 48px;
}

.botao {
    display: block;
    margin: 24px auto 24px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0 12px;
}

.janela {
    padding-bottom: 24px;
}

.texto {
    font-size: 24px;
    font-family: 'Kalam', cursive;
    line-height: 1;
    padding: 8px;
}

header {
    padding: 8px;
    position: absolute;
    display: flex;
    top: -28px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
    font-size: 1.2em;
    color: white;
    padding: 0 8px;
}

header img {
    margin-left: auto;
}


#display {
    display: flex;
    flex-direction: column;
}

#back {
    display: none;
    font-size: 44px;
    color: rgb(124, 124, 124);
    /* position: absolute;
    top: 0;
    left: 0; */
    padding: 32px 8px 0;
}

/* Início */
#inicio {
    /* display: none; */
    display: block;
    padding-top: 56px;
}

#inicio p {
    text-align: center;
    font-size: 2em;
}

#inicio button {
    width: 80%;
}

/* Calcular Média Regular */
#media-regular {
    display: none;
    /* display: block; */
    text-align: center;
}

#media-regular p {
    margin: 0px;
}

#media-avaliativas-semanais {
    display: inline;
    /* display: none; */
    /* display: inline; -> para media direto */
}

#inserir-individualmente {
    display: block;
    /* display: none; */
    /* display: block; -> para media direto */
    padding: 0px 30px;
    text-decoration: underline;
    line-height: 0.8;
}

#exibir-notas-individuais input {
    /* height: 2em; */
    /* width: 50px; */
    /* border-radius: 5px; */
    /* font-size: 1.5em; */
    margin: 4px;
    /* font-size: large; */
    /* font-weight: bold; */
}

#exibir-notas-individuais {
    display: none;
    /* display: block; */
    /* display: block; -> Para medias semanais individuais */
}

#exibir-notas-individuais * {
    outline: 3px solid gainsboro;
    animation: slide-down 2s forwards;
}

#exibir-notas-individuais input {
    text-align: center;
}

/* Calcular Média Regular */
#media-exame {
    display: none;
    text-align: center;
}

/* Resultado */

#resultado {
    /* display: block; */
    display: none;
    text-align: center;
}

#resultado-txt {
    font-family: 'Freehand', cursive;
    /* font-weight: 300; */
}

#resultado-desc {
    font-size: 28px;
}

#resultado-nota {
    font-size: 36px;
    margin: 40px 0;
    padding: 20px;
    background-color: gainsboro;
}

footer {
    margin: 10px;
    display: inline;
}

footer p{
    font-family: 'Gamja Flower', cursive;
    font-size: 24px;
    text-align: center;
}

#social-links {
    font-size: 24px;
    margin: 12px;
    text-align: center;
}

#social-links a {
    text-align: center;
    border-radius: 50%;
    padding: 16px; 
    color: black;
    text-decoration: none;
  }

/* animation */
@keyframes slide-down {
    from {
        outline: 2px solid gainsboro;
    }
    to {
        outline: initial;
    }
  }